colorlog
cuda_python==12.3.0
cupy_cuda11x==12.3.0
cython_bbox==0.1.5
lap==0.4.0
opencv-python==4.8.0.74
numpy==1.26.4
onnxruntime==1.18.0
PyYAMl
scipy

# 手动安装
# tensorrt==8.6.1 必须
# sudo apt install ffmpeg
# open3d 保存pcd用
# pyzed demo.py中使用svo视频时用

