PyYAMl
colorlog
scikit-learn
scipy
cython_bbox
lap
cuda_python==12.3.0
cupy_cuda11x==12.3.0
opencv-python==4.8.0.74
onnxruntime #对应版本才能用gpu
numpy==1.26.4

# 手动安装
# tensorrt==8.6.1
# ros2 humble

#############
###测试环境###
#Ubuntu 22.04
#cuda 11.8
#python 3.10
#ros2 humble
#pyzed安装见xy/zed/ReadMe.md
#############